@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="tab-content">
    <div class="tab-pane fade active show d-flex justify-content-center" role="tabpanel">
        <div class="col-8">
            <div class="sign__wrap">
                <form id="change-password-form" class="sign__form sign__form--profile sign__form--first" method="post">
                    <h3 class="sign__text">@ViewData["Title"]</h3>
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <div asp-validation-summary="ModelOnly" class="sign__alert sign__alert-danger"></div>
                    <div class="sign__group col-6">
                        <label asp-for="Input.OldPassword" class="form-label sign__text"></label>
                        <input asp-for="Input.OldPassword" type="password" class="sign__input" placeholder="Old password" aria-required="true" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger invalid-message"></span>
                    </div>
                    <div class="sign__group col-6">
                        <label asp-for="Input.NewPassword" class="form-label sign__text"></label>
                        <input asp-for="Input.NewPassword" type="password" class="sign__input" placeholder="New password" aria-required="true" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger invalid-message"></span>
                    </div>
                    <div class="sign__group col-6">
                        <label asp-for="Input.ConfirmPassword" class="form-label sign__text"></label>
                        <input asp-for="Input.ConfirmPassword" type="password" class="sign__input" placeholder="Confirm new password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger invalid-message"></span>
                    </div>
                    <button type="submit" class="sign__btn">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
